@import "../../../../../../src/Wex/BaseBundle/Resources/css/partials/themes/dark/inline-info";

$color-disabled-background: #222;
$color-disabled-text: #666;

.display-breakpoint {
  .size-name {
    background: $color-disabled-background;
    color: $color-disabled-text;
  }
}
