@import '../mixins/global';

body.theme-light {
  background: $color-default-background;
}

body.theme-light,
body.theme-default .theme-light {
  color: $color-default-text;

  a {
    color: $color-default-link;
  }
}
