@import '../mixins/global';

$mixin-layout-background: $color-default-background;
$mixin-layout-text: $color-default-text;
$mixin-layout-title: $color-default-title;
$mixin-layout-link: $color-default-link;

@import '../../../mixins/layout';
