{{- trans_js('@component::string.client_side') -}}

<div {{ component_render_tag_attributes({class: 'test-component'}) }}>
    <span class="test-component-string">TEST_COMPONENT</span>
    <ul>
        <li><span class="test-component-test-js">JS</span> component test</li>
        <li><span class="test-component-test-css">CSS</span> component test</li>
        <li>
            BLINK <span class="test-blink">...</span>
        </li>
        <li>
            <div class="test-component-string-translated">{{ '@component::string.server_side' | trans }}</div>
        </li>
        <li>
            <div class="test-component-string-translated-client">-</div>
        </li>
    </ul>
</div>