<div {{ component_render_tag_attributes({class: 'test-component'}) }}>
    <span class="test-component-string">TEST_COMPONENT</span>
    <span class="test-blink">...</span>
    <div class="test-component-string-translated">{{ '@component::string.translated' | trans }}</div>
</div>