<div class="explorer-item">
<div class="explorer-item-icon">
  <i class="fas" :class="getItemIcon()"></i>
</div>
<div class="explorer-item-name">
  <a href="javascript:void(0);">
    {{ 'getItemName()' | vue_key }}
  </a>
</div>
</div>