<div class="debug-assets">
<div class="debug-explorer"></div>
<div class="debug-details">
  <table>
    <tr v-for="asset in getAssetsList()">
      <td>{{ 'asset.path' | vue_key }}</td>
    </tr>
  </table>
</div>
</div>