<div class="debug-assets">
<div class="debug-explorer"></div>
<div class="debug-details">
  <table class="assets-table">
    <tr v-for="asset in allAssets" :class="asset.active ? 'asset-active' : 'asset-inactive'">
      <td class="asset-type">
        <div class="pill">{{ 'asset.type' | vue_key }}</div>
      </td>
      <td class="asset-activation">
        <div class="tip">
        </div>
      </td>
      <td class="asset-path">
        <div class="table-td-ellipsis-wrapper">
          {{ 'asset.path' | vue_key }}
        </div>
      </td>
    </tr>
  </table>
</div>
</div>