@import '../mixins/global';
@import '../mixins/pills';

@import 'blocks';

.inline-infos {
  @extend .block;

  align-items: center;
  display: flex;
  padding: .5rem 1rem;
  background: $light-gray;
  border-radius: $pill-border-radius;
  margin-bottom: 1rem;

  & > div.info {
    padding: 0 0 0 1rem;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}
