{%- extends 'layouts/black.html.twig' -%}

{%- set template_path = _self -%}

{%- block page_body -%}
    <div class="temp-container">
        <div class="board-line">
            {{ template_name }}
        </div>
        {% for name,breakPoint in displayBreakpoints %}
            <div class="board-line display-breakpoint display-breakpoint-{{ breakPoint }}">
                <div class="pill size-name">{{ name }}</div>
                <div class="size-min">{{ breakPoint }}</div>
            </div>
        {% endfor %}
    </div>
{%- endblock -%}