@import '../mixins/global';
@import '../themes/fat/mixins/modal';

.layout-modal {
  width: 40rem;
  overflow-y: hidden;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.modal {
  @include full-parent-size;
  align-items: center;
  display: none;
  justify-content: center;
  position: fixed;

  &.opened {
    display: flex;
  }
}

.modal-header {
  display: flex;
  border-bottom: 1px solid $medium-gray;

  h2 {
    @include text-ellipsis;
    flex-basis: 100%;
  }

  .modal-close a {
    display: block;
  }
}

.modal-body {
  overflow-y: auto;
}
