@import '../../../mixins/global';

$color-default-background: white;
$color-default-text: black;
$color-default-link: black;
$color-default-title: black;

// Disabled.
$color-disabled-background: #ddd;
$color-disabled-text: #666;
