.temp-container {
  max-width: 50rem;
  margin: 0 auto;
}

.pill {
  border-radius: 10000rem;
}

.board-line {
  display: flex;
  background: white;
  border-radius: 10rem;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  width: 100%;

  &.current {
    .size-name {

    }
  }
}

.display-breakpoint {
  .size-name {
    width: 5rem;
    text-align: center;
    background: #DDD;
    padding: .2rem;
    margin: -.1rem;
    margin-right: 1rem;
    color: #666;
  }
}