@import "../../partials/mixins";

.temp-container {
  max-width: 50rem;
  margin: 0 auto;
}

.pill {
  border-radius: 10000rem;
}

.display-breakpoint {
  background: white;
  color: $globalFontColor;

  .size-name {
    width: 5rem;
    text-align: center;
    background: #DDD;
    padding: .2rem;
    margin: -.1rem;
    margin-right: 1rem;
    color: #666;
  }

  &.display-breakpoint-current {
    font-size: 2rem;
    .size-name {
      color: white;
    }
  }
}
