@import '../../../src/Wex/BaseBundle/Resources/css/partials/mixins';

$globalFontColor:$dark-gray;

$wexSubColorPurple: #c63e55;
$wexSubColorRed: #c6362b;
$wexSubColorOrange: #ef863a;
$wexSubColorYellow: #c7a744;
$wexSubColorGreen: #00ae5b;
$wexSubColorBlue: #4fad9a;
