.mouse-circle {
  background: white;
  border-radius: 1000px;
  position: fixed;
}

#mouse-tail-svg {
  position: fixed;
  // TODO Temp
  width: 100px;
  height: 100px;
  border: 2px solid rgba(255, 255, 255, .2);
}