.mouse-circle {
  background: white;
  border-radius: 1000px;
  position: fixed;
}

.mouse-tail-point {
  border: 1px solid red;
  position: fixed;
}

.mouse-tail-svg {
  position: fixed;
  //background: rgba(255, 255, 255, 0.2);

  path {
    stroke: white;
    stroke-width: 10;
    stroke-linecap: round;
  }
}