.mouse-circle {
  background: white;
  border-radius: 1000px;
  position: fixed;
  display: none;
}

.mouse-tail-svg {
  position: fixed;

  path {
    stroke: white;
    stroke-width: 10;
    stroke-linecap: round;
  }
}