@import '../../../mixins/global';

$color-default-background: black;
$color-default-text: #888;
$color-default-link: #FFF;
$color-default-title: #fff;

// Disabled.
$color-disabled-background: #222;
$color-disabled-text: #888;
