@use '../partials/pills';
@import '../mixins/global';

.debug-assets {
  display: flex;

  .debug-explorer {
    width: 100%;
    max-width: 16rem;
  }

  .debug-details {
    .assets-table {
      td {
        padding: 0 .2rem;

        &.asset-type .pill {
          @extend .pill;

          background: white;
          text-align: center;
        }

        &.asset-activation .tip {
          width: 10px;
          height: 10px;
          border-radius: 10px;
          background: $dark-gray;
        }

        &.asset-path {
          opacity: .6;
          font-weight: normal;
        }
      }

      tr.asset-active td {
        &.asset-activation .tip {
          background: $color-success;
        }

        &.asset-path {
          opacity: 1;
          font-weight: bold;
          overflow: hidden;
        }
      }
    }
  }
}