@use '../partials/pills';
@import '../mixins/global';
@import '../mixins/tables';

.debug-assets {
  display: flex;

  .debug-explorer {
    width: 100%;
    max-width: 16rem;
  }

  .debug-details {
    flex: 1;

    .assets-table {
      td {
        padding: 0 0.2rem;

        &.asset-type .pill {
          @extend .pill;

          background: transparent;
          text-align: center;
        }

        &.asset-activation .tip {
          width: 10px;
          height: 10px;
          border-radius: 10px;
          background: $dark-gray;
        }

        &.asset-size {
          white-space: nowrap;
          font-size: 0.7rem;
        }

        &.asset-path {
          opacity: 0.6;
          font-weight: normal;
          @include table-cell-text-ellipsis;
        }
      }

      tr.asset-active td {
        &.asset-activation .tip {
          background: $color-warn;
        }
      }

      tr.asset-active.asset-loaded td {
        &.asset-type .pill {
          background: $medium-gray;
          color: black;
        }

        &.asset-activation .tip {
          background: $color-success;
        }

        &.asset-path {
          opacity: 1;
          font-weight: bold;
        }
      }
    }
  }
}
