@import '../mixins/global';

.explorer-item {
  cursor: pointer;

  &.selected {
    & > .explorer-item-label {
      background: rgba($color-info, .5);
    }
  }

  .explorer-item-label {
    display: flex;
    width: 100%;

    .explorer-item-icon {
      padding: .2rem;
    }

    .explorer-item-name {
      padding: .2rem;
    }
  }
}