@import '../mixins/global';

body.theme-dark {
  background: $color-default-background;
}

body.theme-dark,
body.theme-default .theme-dark {
  color: $color-default-text;

  a {
    color: $color-default-link;
  }

  #{$selector-title-all} {
    color: $color-default-title;
  }
}
