@import '../mixins/global';

.theme-dark {
  background: $color-default-background;
}

.theme-dark,
.theme-default .theme-dark {
  color: $color-default-text;

  a {
    color: $color-default-link;
  }

  #{$selector-title-all} {
    color: $color-default-title;
  }
}
